body{
    /* background: #545b52fa; */
    background-image: url("./gambar/image3.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 10vh;
    margin: 0;
    padding: 0;
}


form{
    background: #fff;

}


.form-container{
    border-radius: 10px;
    padding: 30px;
}